@{ 
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>【北京门面出租|北京商铺出售|北京门面转让|北京商铺网】-北京商铺搜网</title>
    <meta name="keywords" content="北京门面出租,北京商铺,北京商铺出售,北京门面转让,北京商铺出租,北京商铺网" />
    <meta name="description" content="北京商铺搜网为您提供大量北京门面出租、北京商铺出售、北京门面转让、北京商铺出租信息，所有用户均可免费发布商铺、门面出租转让信息，同时对发布的北京商铺出租、出售、转让信息进行严格审核，历经10年成为最受北京人民欢迎的商铺门面网；寻找海量、真实的北京门面出租转让信息，请找北京商铺搜网。" />
    <link rel="shortcut icon" href="http://www.shangpusou.com/favicon.ico" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <script src="/js/global.js" type="text/javascript"></script>
    <script src="/js/jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <script type="text/javascript">var current_domain = "http://www.shangpusou.com"; var current_cityid = "1"; var current_logfile = "mplogin.php";</script>

    <div class="header_top">
        <div class="top_main w1200 clear">
            <div class="top_l fl">
                <div class="city fl">
                    <div class="city-curr">北京</div>
                    <dl>
                        <dt>[</dt>
                        <dd><a href='http://tianjin.shangpusou.com/'>天津</a></dd>
                        <dd><a href='http://shanghai.shangpusou.com/'>上海</a></dd>
                        <dd><a href='http://chongqing.shangpusou.com/'>重庆</a></dd>
                        <dd><a href="http://www.shangpusou.com/changecity.php">切换城市</a></dd>
                        <dt>]</dt>
                    </dl>
                </div>
            </div>
            <div class="top_r fr">
                <div class="icon_box fl">
                    <a href="javascript:;">公众号<em class="ico_down"></em></a>
                    <div class="icon_box_img">
                        <img src="picture/erweima.gif" alt="公众号" />
                        <p>重要提醒不错过<br />手机操作更简单</p>
                    </div>
                </div>
                <div class="icon_box fl">
                    <a href="javascript:;">小程序<em class="ico_down"></em></a>
                    <div class="icon_box_img">
                        <img src="picture/erweima_kf.gif" alt="小程序" />
                        <p>扫码即用，无需下载</p>
                    </div>
                </div>
                <div class="zs fl">
                    <a href="#" target="_blank">+ 分站加盟</a>
                </div>
                <div class="pon_center fl">
                    <div class="flex_between pon_click">
                        <span>个人中心</span>
                        <em class="ico_down"></em>
                    </div>
                    <div class="list_box" style="display: none;">
                        <a href="#" target="_blank">我的发布</a>
                        <a href="#" target="_blank">我的浏览</a>
                    </div>
                </div>
                <div id="mayilogin" class="login fl"><img src="picture/loading.gif" border="0" align="absmiddle" /></div>
            </div>
        </div>
    </div>

    <div id="ad_topbanner" class="clear"></div>


    <div class="header_mind w1200 clear">
        <div class="logo clear fl">
            <a href="http://beijing.shangpusou.com/" title="北京商铺网" class="fl">
                <img src="picture/logo.png" alt="商铺搜" width="148" height="42" />
            </a>
        </div>
        <div class="main_r fr">
            <a href="http://www.shangpusou.com/shangpusou-post.php?catid=&cityid=1" class="fabu_btn" target="_blank">免费发布</a>
        </div>
        <div class="search fr">
            <form method="get" action="http://www.shangpusou.com/search.php?" id="searchForm" target="_blank">
                <input name="cityid" type="hidden" value="1" />
                <input type="hidden" id="searchtype" name="mod" value="information" />
                <div class="input_content clear">
                    <input type="text" class="fl" value="请输入关键词搜索" name="keywords" id="searchheader" onmouseover="if(this.value==='请输入关键词搜索'){this.value='';}" x-webkit-speech=x-webkit-speech lang="zh-CN" />
                    <input type="submit" value="搜 索" class="searchheader_submit fl" />
                </div>
                <div class="fl search_navurl">
                    <li><a href="#" style="color:" target="_blank" title="培训学校优转">培训学校优转<sup class=""></sup></a></li>
                    <li><a href="#" style="color:" target="_blank" title="商铺出租">商铺出租<sup class=""></sup></a></li>
                    <li><a href="#" style="color:" target="_blank" title="酒店转让">酒店转让<sup class=""></sup></a></li>
                </div>
            </form>
        </div>
    </div><div class="nav_bg">
        <div class="nav_main w1200 clear">
            <ul>

                @{
                    var navigationList = ViewBag.NavigationList as List<Entity.Models.Cf_Navigation>;
                    if (navigationList != null)
                    {
                        foreach (var m in navigationList)
                        {
                            if (m.LinkAddress.Contains(ViewBag.Path))
                            {

                                if (m.Title == "首页")
                                {
                                    <li><a href="@m.LinkAddress" class="li_on">@m.Title</a></li>
                                }
                                else
                                {
                                    <li><a target="_self" href="@m.LinkAddress" class="li_on">@m.Title</a></li>
                                }
                            }
                            else
                            {
                                if (m.Title == "首页")
                                {
                                    <li><a href="@m.LinkAddress">@m.Title</a></li>
                                }
                                else
                                {
                                    <li><a target="_self" href="@m.LinkAddress">@m.Title</a></li>
                                }
                            }
                        }
                    }
                }
            </ul>
        </div>
    </div>

    <div class="w1200 con_1 ">
        <div class="tab tab_l">
            <ul class="title" id="ul_typeregion">
                <li class="first on">厂房</li>
                <li class="">写字楼</li>
            </ul><div class="tab_con" id="div_tab_con">
                <div class="icontent active">
                    <ol>
                        <li class="ys1">
                            @{
                                var areaList = ViewBag.AreaList as List<Entity.Models.Cf_Area>;
                                if (areaList != null)
                                {
                                    foreach (var m in areaList)
                                    {
                                        <a href='/Area@(m.AreaName)/' title="@m.AreaName">@(m.AreaName)厂房</a>
                                    }
                                }
                            }
                        </li>
                        <li class="ys2">
                            @{
                                var teseHousingList = ViewBag.TeseHousingList as List<Entity.Models.Cf_FactoryHouseDictionary>;
                                if (teseHousingList != null)
                                {
                                    foreach (var m in teseHousingList)
                                    {
                                        <a href='/Area@(m.Code)/' title="@m.Name">@(m.Name)厂房 </a>
                                    }
                                }
                            }
                        </li>
                    </ol>
                </div>
                <div class="icontent ">
                    <ol>
                        <li class="ys1"><a href='xiezilou/areaid-330/' title="海淀写字楼">海淀</a><a href='xiezilou/areaid-11371/' title="密云写字楼">密云</a><a href='xiezilou/areaid-346/' title="门头沟写字楼">门头沟</a><a href='xiezilou/areaid-345/' title="平谷写字楼">平谷</a><a href='xiezilou/areaid-343/' title="怀柔写字楼">怀柔</a><a href='xiezilou/areaid-341/' title="昌平写字楼">昌平</a><a href='xiezilou/areaid-340/' title="顺义写字楼">顺义</a><a href='xiezilou/areaid-339/' title="通州写字楼">通州</a><a href='xiezilou/areaid-338/' title="大兴写字楼">大兴</a><a href='xiezilou/areaid-337/' title="房山写字楼">房山</a><a href='xiezilou/areaid-336/' title="石景山写字楼">石景山</a><a href='xiezilou/areaid-335/' title="丰台写字楼">丰台</a><a href='xiezilou/areaid-333/' title="西城写字楼">西城</a><a href='xiezilou/areaid-332/' title="东城写字楼">东城</a><a href='xiezilou/areaid-331/' title="朝阳写字楼">朝阳</a><a href='xiezilou/areaid-11372/' title="延庆写字楼">延庆</a><a href='xiezilou/areaid-512/' title="北京周边写字楼">北京周边</a></li>
                        <li class="ys2">
                            <a href="xiezilouchuzu/">写字楼出租</a>
                            <a href="xiezilouchushou/">写字楼出售</a>

                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="tab_r">
            <div id="tab1">
                <ul>
                    <li onmouseover="setTab(1,0)" class="now">厂房求购</li>
                    <li onmouseover="setTab(1,1)">厂房求组</li>
                    <li onmouseover="setTab(1,2)">热点资讯</li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div id="tablist1">
                <div class="tablist block corp">
                    <ul>
                        @{
                            var articleList = ViewBag.ArticleList as List<Entity.Models.Jw_Article>;
                            if (articleList != null)
                            {
                                foreach (var m in articleList)
                                {
                                    <li><span class="title"><a target="_blank" href="@m.ArticleTitle" title=">@m.ArticleTitle">@m.ArticleTitle</a></span><span class="time">@m.F_CreateDate.ToString("MM-dd")</span></li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="tablist none announce">
                    <ul>
                        @{
                           
                            if (articleList != null)
                            {
                                foreach (var m in articleList)
                                {
                                    <li><span class="title"><a target="_blank" href="@m.ArticleTitle" title=">@m.ArticleTitle">@m.ArticleTitle</a></span><span class="time">@m.F_CreateDate.ToString("MM-dd")</span></li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="tablist none announce">
                    <ul>
                        @{
                          
                            if (articleList != null)
                            {
                                foreach (var m in articleList)
                                {
                                    <li><span class="title"><a target="_blank" href="@m.ArticleTitle" title=">@m.ArticleTitle">@m.ArticleTitle</a></span><span class="time">@m.F_CreateDate.ToString("MM-dd")</span></li>
                                }
                            }
                        }                       
                    </ul>
                </div>
            </div>
        </div>
    </div>




    <div id="ad_header"></div>


    <div class="w1200 con con_5">
        <div class="con_bt"><h3>北京厂房出售</h3><a class="more" href="/shangpuchuzu/" title="更多北京厂房出售信息">更多&gt;&gt;</a></div>
        <ul class="pic_list_tel">
            @{
                var factoryHouseChuShouList = ViewBag.FactoryHouseChuShouList as List<Entity.Models.Cf_FactoryHouse>;
                foreach (var m in factoryHouseChuShouList)
                {
                    <li>
                        <a href="/changfang/@(m.Id).html" title="@m.HousingName" target="_blank">
                            <img class="lazy" src="m.CoverMap" alt="@m.HousingName" width="226" height="170" />
                        </a>
                        <div class="con_bt_p">
                            <h4><a href="/changfang/@(m.Id).html" target="_blank" style=" ">@m.HousingName</a></h4>
                            <div class="con_bt_p_mx">
                                <div class="fl"> <span>@m.UnitPrice</span> 元/平 </div>
                                <div class="fr">@m.HousingArea 平</div>
                            </div>
                            <div class="con_bt_p_mx">
                                <div class="fl">@m.F_CreateDate.Value.ToString("yyyy-MM-dd")</div>
                                <div class="fr">570人已浏览</div>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="w1200 con con_6">
        <div class="con_bt"><h3>北京商厂房出租</h3><a class="more" href="/shangpuchushou/" title="最新商厂房出租信息">更多&gt;&gt;</a></div>
        <ul class="pic_list_tel">
            @{
                var factoryHouseChuZuList = ViewBag.FactoryHouseChuZuList as List<Entity.Models.Cf_FactoryHouse>;
                foreach (var m in factoryHouseChuZuList)
                {
                    <li>
                        <a href="/changfang/@(m.Id).html" title="@m.HousingName" target="_blank">
                            <img class="lazy" src="@@m.CoverMap" alt="@m.HousingName" width="226" height="170" />
                        </a>
                        <div class="con_bt_p">
                            <h4><a href="/changfang/@(m.Id).html" target="_blank" style=" ">@m.HousingName</a></h4>
                            <div class="con_bt_p_mx">
                                <div class="fl"> <span>@m.HousingRent</span> 元/月 </div>
                                <div class="fr">@m.HousingArea 平</div>
                            </div>
                            <div class="con_bt_p_mx">
                                <div class="fl">@m.F_CreateDate.Value.ToString("yyyy-MM-dd")</div>
                                <div class="fr">570人已浏览</div>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>


    <div class="w1200 con con_4">
        <div class="min">
            <div class="con_bt"><h3>按结类别找厂房</h3><a class="more" href="/shangpuzhuanrang/" title="更多北京商铺转让信息" target="_blank">更多北京厂房信息&gt;&gt;</a></div>
            <div class="tab">
                <ul class="title" id="ul_typeshopinfo">
                    @{

                        var dictionarysJieGous = ViewBag.DictionarysJieGous as List<Entity.Models.Cf_FactoryHouseDictionary>;

                        int i = 0;
                        foreach (var m in dictionarysJieGous)
                        {
                            i++;
                            if (i == 0)
                            {
                                <li typeid="@i" class="first on">@m.Name</li>
                            }
                            else
                            {
                                <li typeid="@i">@m.Name</li>
                            }
                        }



                    }
                </ul>
                <div class="tab_con">
                    @{
                        var housingStructureHouseList = ViewBag.HousingStructureHouseList as List<Entity.ViewModels.GroupFactoryHouseDictionaryHouse>;
                        i = 0;
                        string style = "block";
                        foreach (var m in housingStructureHouseList)
                        {

                            i++;
                            <div class="icontent div_typeshopinfo" typeid="@i" style="display:@style;">
                                <ul class="list">
                                    @{

                                        foreach (var h in m.FactoryHouseList)
                                        {
                                            <li>
                                                <span class="areaname">
                                                    <a href="/changfang/@(h.Id).html" target="_blank">@h.DistrictName</a>
                                                </span>
                                                <a href="/changfang/@(h.Id).html" title="@h.HousingName" target="_blank" style=" ">@h.HousingName</a>
                                                <span class="price">单价 <em>@(h.UnitPrice==null? "面议" : h.UnitPrice.ToString())</em></span>
                                            </li>
                                        }
                                    }
                                </ul>
                                <h4 class="more"><a href="/jiulou/" title="@m.FactoryHouseDictionaryName">更多@(m.FactoryHouseDictionaryName)信息 &gt;&gt;</a></h4>
                            </div>
                            style = "none";
                        }
                    }
                </div>
            </div>
        </div>
    </div>











    <div class="con_7 w1200 con">
        @{
            var factoryHouseDictionaryHouseList = ViewBag.FloorTypeFactoryHouseList as List<Entity.ViewModels.GroupFactoryHouseDictionaryHouse>;
            string[] classAee = new[] { "l", "m", "r" };
            for (var x = 0; x < factoryHouseDictionaryHouseList.Count; x++)
            {
                if (x > 2)
                {
                    break;
                }
                <div class="@classAee[x]">
                    <div class="con_bt_2"><h3><a href="/cangku/" title="@factoryHouseDictionaryHouseList[x].FactoryHouseDictionaryName">@factoryHouseDictionaryHouseList[x].FactoryHouseDictionaryName</a></h3></div>
                    <ul class="list">
                        @{
                            foreach (var m in factoryHouseDictionaryHouseList[x].FactoryHouseList)
                            {

                                <li>
                                    <span class="catname">
                                        @{
                                            var dic = dictionarysJieGous.Find(w => w.Id == m.HousingStructureId);
                                            if (dic != null)
                                            {
                                                <a href="cangkuchuzu/" target="_blank">@dic.Name</a>
                                            }
                                        }
                                    </span>
                                    <a href="/changfang/@(m.Id).html" target="_blank" style="width: 245px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" title="@(m.HousingName)">@(m.HousingName)</a>
                                    @{
                                        if (m.TransactionModeId == 109)
                                        {
                                            <span><em>@(m.HousingRent == null? "": m.HousingRent.ToString())</em> 元/月</span>
                                        }
                                        else
                                        {
                                            <span><em>@(m.UnitPrice == null ? "" : m.UnitPrice.ToString())</em> 元/㎡</span>
                                        }
                                    }
                                </li>
                            }
                        }
                    </ul>
                </div>
            }

        }
    </div>



    <div class="footer_links w1200">
        <div class="m_box footer_links_des">
            <span>周边城市：</span>
            <p>
                <a href='http://tianjin.shangpusou.com/' title="天津商铺">天津商铺</a>
                <a href='http://shanghai.shangpusou.com/' title="上海商铺">上海商铺</a>
                <a href='http://chongqing.shangpusou.com/' title="重庆商铺">重庆商铺</a>
            </p>
        </div>
        <div class="m_box footer_links_des">
            <span>热门城市：</span>
            <p>
                <a href='http://beijing.shangpusou.com/' title="北京商铺信息" target="_blank">北京商铺</a>
                <a href='http://tianjin.shangpusou.com/' title="天津商铺信息" target="_blank">天津商铺</a>
                <a href='http://shijiazhuang.shangpusou.com/' title="石家庄商铺信息" target="_blank">石家庄商铺</a>
                <a href='http://shanghai.shangpusou.com/' title="上海商铺信息" target="_blank">上海商铺</a>
                <a href='http://nanjing.shangpusou.com/' title="南京商铺信息" target="_blank">南京商铺</a>
                <a href='http://hangzhou.shangpusou.com/' title="杭州商铺信息" target="_blank">杭州商铺</a>
                <a href='http://fuzhou.shangpusou.com/' title="福州商铺信息" target="_blank">福州商铺</a>
                <a href='http://xiamen.shangpusou.com/' title="厦门商铺信息" target="_blank">厦门商铺</a>
                <a href='http://nanchang.shangpusou.com/' title="南昌商铺信息" target="_blank">南昌商铺</a>
                <a href='http://zhengzhou.shangpusou.com/' title="郑州商铺信息" target="_blank">郑州商铺</a>
                <a href='http://wuhan.shangpusou.com/' title="武汉商铺信息" target="_blank">武汉商铺</a>
                <a href='http://changsha.shangpusou.com/' title="长沙商铺信息" target="_blank">长沙商铺</a>
                <a href='http://guangzhou.shangpusou.com/' title="广州商铺信息" target="_blank">广州商铺</a>
                <a href='http://shenzhen.shangpusou.com/' title="深圳商铺信息" target="_blank">深圳商铺</a>
                <a href='http://chongqing.shangpusou.com/' title="重庆商铺信息" target="_blank">重庆商铺</a>
                <a href='http://chengdu.shangpusou.com/' title="成都商铺信息" target="_blank">成都商铺</a>
                <a href='http://xian.shangpusou.com/' title="西安商铺信息" target="_blank">西安商铺</a>
            </p>
        </div>
        <div class="m_box footer_links_des">
            <span>友情链接：</span>
            <p>
                <a href="http://www.officese.com/rent/" target="_blank">上海写字楼出租</a>
                <a href="http://second.zb.fccs.com/" target="_blank">淄博二手房</a>
                <a href="http://shenzhen.365azw.com/" target="_blank">深圳装修网</a>
                <a href="http://bd.fang.com/" target="_blank">保定房产</a>
                <a href="http://jiangmen.focus.cn/" target="_blank">江门房产网</a>
                <a href="http://www.bjsqdb.cn/" target="_blank">房屋抵押贷款</a>
                <a href="http://www.jia.com/chaoyang/" target="_blank">朝阳装修</a>
                <a href="http://chengdu.edeng.cn" target="_blank">成都信息分类网</a>
                <a href="http://yigui.homekoo.com/" target="_blank">衣柜</a>
                <a href="http://bj.9ask.cn/" target="_blank">北京律师</a>
                <a href="http://www.shangpusou.com/friendlink.html">+我要申请</a>
            </p>
        </div>
    </div><div id="ad_footerbanner"></div>
    <div style="display: none" id="ad_none">
    </div>


    <div class="footer">
        <div class="footer_common">
            <div class="footer_common_link">
                <a href="http://www.shangpusou.com/aboutus.html" rel="nofollow" target="_blank">网站简介</a>
                <a href="http://www.shangpusou.com/aboutus-id-2.html" rel="nofollow" target="_blank">广告服务</a>
                <a href="http://www.shangpusou.com/aboutus-id-3.html" rel="nofollow" target="_blank">联系我们</a>
                <a href="http://www.shangpusou.com/faq.html" rel="nofollow" target="_blank">网站帮助</a>
                <a href="http://www.shangpusou.com/friendlink.html" rel="nofollow" target="_blank">友情链接</a>
                <a href="http://www.shangpusou.com/announce.html" rel="nofollow" target="_blank">网站公告</a>
                <a href="http://www.shangpusou.com/sitemap.html" rel="nofollow" target="_blank">网站地图</a>
            </div>
            <div class="footer_common_con">
                <p>
                    Copyright &copy; 商铺搜版权所有. 本站所有信息均归商铺搜网用户所发，严禁转载。 <a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow noopener">湘ICP备2021013894号</a>
                    <script>
                        var _hmt = _hmt || [];
                        (function () {
                            var hm = document.createElement("script");
                            hm.src = "https://hm.baidu.com/hm.js?27390b4003f337546042d1a4ea519aff";
                            var s = document.getElementsByTagName("script")[0];
                            s.parentNode.insertBefore(hm, s);
                        })();
                    </script> This page is cached at 2022-02-25 14:09:27
                </p>
            </div>
        </div>
    </div>


    <script type="text/javascript">loadDefault(["addiv", 'shangpusou', "mayilogin"]);</script>
</body>
</html>