@{ 
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> @ViewBag.Navigation.SeoTitle 【北京门面出租|北京商铺出售|北京门面转让|北京商铺网】-北京商铺搜网</title>
    <meta name="keywords" content="@ViewBag.Navigation.SeoKey" />
    <meta name="description" content="@ViewBag.Navigation.SeoDesc" />
    <meta name="location" content="province=@ViewBag.ParentArea.Name;city=@ViewBag.Area.Name;coord=102.854463,24.848294" />
    <link rel="shortcut icon" href="http://www.shangpusou.com/favicon.ico" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <script src="/js/global.js" type="text/javascript"></script>
    <script src="/js/jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <script type="text/javascript">var current_domain = "http://www.shangpusou.com"; var current_cityid = "1"; var current_logfile = "mplogin.php";</script>
    <div class="header_top">
        <div class="logo clear fl">
            <a href="http://beijing.shangpusou.com/" title="北京商铺网" class="fl">
                <img src="~/img/logo.jpg" alt="商铺搜" width="148" height="42" />
            </a>
        </div>
        <div class="top_main w1200 clear">
            <div class="top_l fl">
                <div class="city fl">
                    <div class="city-curr">北京</div>
                    <dl>
                        <dt>[</dt>
                        <dd><a href='http://tianjin.shangpusou.com/'>天津</a></dd>
                        <dd><a href='http://shanghai.shangpusou.com/'>上海</a></dd>
                        <dd><a href='http://chongqing.shangpusou.com/'>重庆</a></dd>
                        <dd><a href="http://www.shangpusou.com/changecity.php">切换城市</a></dd>
                        <dt>]</dt>
                    </dl>
                </div>
            </div>
            <div class="main_r fr">
                <a href="http://www.shangpusou.com/shangpusou-post.php?catid=&cityid=1" class="fabu_btn" target="_blank">免费发布</a>
            </div>
            <div class="top_r fr">
                <div class="icon_box fl">
                    <a href="javascript:;">公众号<em class="ico_down"></em></a>
                    <div class="icon_box_img">
                        <img src="picture/erweima.gif" alt="公众号" />
                        <p>重要提醒不错过<br />手机操作更简单</p>
                    </div>
                </div>
                <div class="icon_box fl">
                    <a href="javascript:;">小程序<em class="ico_down"></em></a>
                    <div class="icon_box_img">
                        <img src="picture/erweima_kf.gif" alt="小程序" />
                        <p>扫码即用，无需下载</p>
                    </div>
                </div>
                <div class="zs fl">
                    <a href="#" target="_blank">+ 分站加盟</a>
                </div>
                <div class="pon_center fl">
                    <div class="flex_between pon_click">
                        <span>个人中心</span>
                        <em class="ico_down"></em>
                    </div>
                    <div class="list_box" style="display: none;">
                        <a href="#" target="_blank">我的发布</a>
                        <a href="#" target="_blank">我的浏览</a>
                    </div>
                </div>
                <div id="mayilogin" class="login fl"><img src="picture/loading.gif" border="0" align="absmiddle" /></div>
            </div>

        </div>
    </div>
 
    <div class="nav_bg">
        <div class="nav_main w1200 clear">
            <ul>

                @{
                    var navigationList = ViewBag.NavigationList as List<Entity.Models.Cf_Navigation>;
                    if (navigationList != null)
                    {
                        foreach (var m in navigationList)
                        {
                            if (m.LinkAddress.Contains(ViewBag.Path))
                            {

                                if (m.Title == "首页")
                                {
                                    <li><a href="@m.LinkAddress" class="li_on">@m.Title</a></li>
                                }
                                else
                                {
                                    <li><a target="_self" href="@m.LinkAddress" class="li_on">@m.Title</a></li>
                                }
                            }
                            else
                            {
                                if (m.Title == "首页")
                                {
                                    <li><a href="@m.LinkAddress">@m.Title</a></li>
                                }
                                else
                                {
                                    <li><a target="_self" href="@m.LinkAddress">@m.Title</a></li>
                                }
                            }
                        }
                    }
                }
            </ul>
        </div>
    </div>
    <div class="w1200 con_1 ">
        <div class="tab tab_l">
            <ul class="title" id="ul_typeregion">
                <li class="first on">@(ViewBag.Area.Name)厂房出售</li>
                <li class="">@(ViewBag.Area.Name)厂房出租</li>         
            </ul>
            <div class="tab_con" id="div_tab_con">
                <div class="icontent active">
                    <ol>
                        <li class="ys1">
                            @{
                                string ps = "".PadRight(ViewBag.CitySiteRangeSearchCount, '0').Replace("0", "_0") + "_1";
                                var areaList = ViewBag.AreaList as List<Entity.Models.Cf_FactoryHouseDictionary>;
                                if (areaList != null)
                                {
                                    foreach (var m in areaList)
                                    {
                                        <a href='@ViewBag.Area.Code/chushou@(ps).html' title="@(m.Name)厂房出售">@(m.Name)厂房出售</a>
                                    }
                                }
                            }
                        </li>
                        <li class="ys2">
                            @{
                                var teseHousingList = ViewBag.TeseHousingList as List<Entity.Models.Cf_FactoryHouseDictionary>;
                                if (teseHousingList != null)
                                {
                                    foreach (var m in teseHousingList)
                                    {
                                        if (m.Name.Contains("房"))
                                        {
                                            <a href='@ViewBag.Area.Code/tesechushou_@(m.Id)_1.html' title="@m.Name">@(m.Name)出售 </a>
                                        }
                                        else
                                        {
                                            <a href='@ViewBag.Area.Code/tesechuzu_@(m.Id)_1.html' title="@m.Name">@(m.Name)厂房出售 </a>
                                        }
                                    }
                                }
                            }
                        </li>
                    </ol>
                </div>

                <div class="icontent">
                    <ol>
                        <li class="ys1">
                            @{

                                if (areaList != null)
                                {
                                    foreach (var m in areaList)
                                    {
                                        <a href='@ViewBag.Area.Code/chushou@(ps).html' title="@(m.Name)厂房出租">@(m.Name)厂房出租</a>
                                    }
                                }
                            }
                        </li>
                        <li class="ys2">
                            @{
                                if (teseHousingList != null)
                                {
                                    foreach (var m in teseHousingList)
                                    {
                                        if (m.Name.Contains("房"))
                                        {
                                            <a href='@ViewBag.Area.Code/tesechuzu_@(m.Id)_1.html' title="@m.Name">@(m.Name)出租</a>
                                        }
                                        else
                                        {
                                            <a href='@ViewBag.Area.Code/tesechuzu_@(m.Id)_1.html' title="@m.Name">@(m.Name)厂房出租 </a>
                                        }
                                    }
                                }
                            }
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="tab_r">
            <div id="tab1">
                <ul>
                    <li onmouseover="setTab(1,0)" class="now">厂房求购</li>
                    <li onmouseover="setTab(1,1)">厂房求组</li>
                    <li onmouseover="setTab(1,2)">热点资讯</li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div id="tablist1">
                <div class="tablist block corp">
                    <ul>
                        @{
                            var articleList = ViewBag.ArticleList as List<Entity.Models.Jw_Article>;
                            if (articleList != null)
                            {
                                foreach (var m in articleList)
                                {
                                    <li><span class="title"><a target="_blank" href="@m.ArticleTitle" title=">@m.ArticleTitle">@m.ArticleTitle</a></span><span class="time">@m.F_CreateDate.ToString("MM-dd")</span></li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="tablist none announce">
                    <ul>
                        @{
                           
                            if (articleList != null)
                            {
                                foreach (var m in articleList)
                                {
                                    <li><span class="title"><a target="_blank" href="@m.ArticleTitle" title=">@m.ArticleTitle">@m.ArticleTitle</a></span><span class="time">@m.F_CreateDate.ToString("MM-dd")</span></li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="tablist none announce">
                    <ul>
                        @{
                          
                            if (articleList != null)
                            {
                                foreach (var m in articleList)
                                {
                                    <li><span class="title"><a target="_blank" href="@m.ArticleTitle" title=">@m.ArticleTitle">@m.ArticleTitle</a></span><span class="time">@m.F_CreateDate.ToString("MM-dd")</span></li>
                                }
                            }
                        }                       
                    </ul>
                </div>
            </div>
        </div>
    </div>




    <div id="ad_header"></div>


    <div class="w1200 con con_5">
        <div class="con_bt"><h3>@(ViewBag.Area.Name)厂房最近出售</h3><a class="more" href="/shangpuchuzu/" title="更多北京厂房出售信息">更多&gt;&gt;</a></div>
        <ul class="pic_list_tel">
            @{
                var factoryHouseChuShouList = ViewBag.FactoryHouseChuShouList as List<Entity.Models.Cf_FactoryHouse>;
                foreach (var m in factoryHouseChuShouList)
                {
                    <li>
                        <a href="/changfang/@(m.Id).html" title="@m.HousingName" target="_blank">
                            <img class="lazy" src="@m.CoverMap" alt="@m.HousingName" width="226" height="170" />
                        </a>
                        <div class="con_bt_p">
                            <h4><a href="/changfang/@(m.Id).html" target="_blank" style=" ">@m.HousingName</a></h4>
                            <div class="con_bt_p_mx">
                                <div class="fl"> <span>@(m.UnitPrice == null ? "面议" : m.UnitPrice.ToString()) </span> 元/平 </div>
                                <div class="fr">@m.HousingArea 平</div>
                            </div>
                            <div class="con_bt_p_mx">
                                <div class="fl">@m.F_CreateDate.Value.ToString("yyyy-MM-dd")</div>
                                <div class="fr">已浏览 @m.Pageviews</div>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="w1200 con con_6">
        <div class="con_bt"><h3>@(ViewBag.Area.Name)厂房最近出租</h3><a class="more" href="/shangpuchushou/" title="厂房最近出租">厂房最近出租;</a></div>
        <ul class="pic_list_tel">
            @{
                var factoryHouseChuZuList = ViewBag.FactoryHouseChuZuList as List<Entity.Models.Cf_FactoryHouse>;
                foreach (var m in factoryHouseChuZuList)
                {
                    <li>
                        <a href="/changfang/@(m.Id).html" title="@m.HousingName" target="_blank">
                            <img class="lazy" src="@m.CoverMap" alt="@m.HousingName" width="226" height="170" />
                        </a>
                        <div class="con_bt_p">
                            <h4><a href="/changfang/@(m.Id).html" target="_blank" style=" ">@m.HousingName</a></h4>
                            <div class="con_bt_p_mx">
                                <div class="fl"> <span>@(m.HousingRent == null ? "面议" : m.HousingRent.ToString()) </span> /月 </div>
                                <div class="fr">@m.HousingArea 平</div>
                            </div>
                            <div class="con_bt_p_mx">
                                <div class="fl">@m.F_CreateDate.Value.ToString("yyyy-MM-dd")</div>
                                <div class="fr">已浏览 @m.Pageviews</div>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>


    <div class="w1200 con con_4">
        <div class="min">
            <div class="con_bt"><h3>按结类别找厂房</h3><a class="more" href="/shangpuzhuanrang/" title="更多北京商铺转让信息" target="_blank">更多@(ViewBag.Area.Name)厂房信息</a></div>
            <div class="tab">
                <ul class="title" id="ul_typeshopinfo">
                    @{

                        var dictionarysJieGous = ViewBag.DictionarysJieGous as List<Entity.Models.Cf_FactoryHouseDictionary>;
                        int i = 0;
                        foreach (var m in dictionarysJieGous)
                        {
                            i++;
                            if (i == 0)
                            {
                                <li typeid="@i" class="first on">@m.Name</li>
                            }
                            else
                            {
                                <li typeid="@i">@m.Name</li>
                            }
                        }
                    }
                </ul>
                <div class="tab_con">
                    @{
                        var housingStructureHouseList = ViewBag.HousingStructureHouseList as List<Entity.ViewModels.GroupFactoryHouseDictionaryHouse>;
                        i = 0;
                        string style = "block";
                        foreach (var m in housingStructureHouseList)
                        {

                            i++;
                            <div class="icontent div_typeshopinfo" typeid="@i" style="display:@style;">
                                <ul class="list">
                                    @{

                                        foreach (var h in m.FactoryHouseList)
                                        {
                                            <li>
                                                <span class="areaname">
                                                    <a href="/changfang/@(h.Id).html" target="_blank">@h.DistrictName</a>
                                                </span>
                                                <a href="/changfang/@(h.Id).html" title="@h.HousingName" target="_blank" style=" ">@h.HousingName</a>
                                                <span class="price">单价 <em>@(h.UnitPrice==null? "面议" : h.UnitPrice.ToString())</em></span>
                                            </li>
                                        }
                                    }
                                </ul>
                                <h4 class="more"><a href="/jiulou/" title="@m.FactoryHouseDictionaryName">更多@(m.FactoryHouseDictionaryName)信息 &gt;&gt;</a></h4>
                            </div>
                            style = "none";
                        }
                    }
                </div>
            </div>
        </div>
    </div>











    <div class="con_7 w1200 con">
        @{
            var factoryHouseDictionaryHouseList = ViewBag.FloorTypeFactoryHouseList as List<Entity.ViewModels.GroupFactoryHouseDictionaryHouse>;
            string[] classAee = new[] { "l", "m", "r" };
            for (var x = 0; x < factoryHouseDictionaryHouseList.Count; x++)
            {
                if (x > 2)
                {
                    break;
                }
                <div class="@classAee[x]">
                    <div class="con_bt_2"><h3><a href="/cangku/" title="@factoryHouseDictionaryHouseList[x].FactoryHouseDictionaryName">@factoryHouseDictionaryHouseList[x].FactoryHouseDictionaryName</a></h3></div>
                    <ul class="list">
                        @{
                            foreach (var m in factoryHouseDictionaryHouseList[x].FactoryHouseList)
                            {

                                <li>
                                    <span class="catname">
                                        @{
                                            var dic = dictionarysJieGous.Find(w => w.Id == m.HousingStructureId);
                                            if (dic != null)
                                            {
                                                <a href="cangkuchuzu/" target="_blank">@dic.Name</a>
                                            }
                                        }
                                    </span>
                                    <a href="/changfang/@(m.Id).html" target="_blank" style="width: 245px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" title="@(m.HousingName)">@(m.HousingName)</a>
                                    @{
                                        if (m.TransactionModeId == 109)
                                        {
                                            <span><em>@(m.HousingRent == null? "": m.HousingRent.ToString())</em> 元/月</span>
                                        }
                                        else
                                        {
                                            <span><em>@(m.UnitPrice == null ? "" : m.UnitPrice.ToString())</em> 元/㎡</span>
                                        }
                                    }
                                </li>
                            }
                        }
                    </ul>
                </div>
            }
        }
    </div>
    <div class="footer_links w1200">
        <div class="m_box footer_links_des">
            <span>周边城市：</span>
            <p>
                <a href='http://tianjin.shangpusou.com/' title="天津商铺">天津商铺</a>
                <a href='http://shanghai.shangpusou.com/' title="上海商铺">上海商铺</a>
                <a href='http://chongqing.shangpusou.com/' title="重庆商铺">重庆商铺</a>
            </p>
        </div>
        <div class="m_box footer_links_des">
            <span>热门城市：</span>
            <p>
                <a href='http://beijing.shangpusou.com/' title="北京商铺信息" target="_blank">北京商铺</a>
                <a href='http://tianjin.shangpusou.com/' title="天津商铺信息" target="_blank">天津商铺</a>
                <a href='http://shijiazhuang.shangpusou.com/' title="石家庄商铺信息" target="_blank">石家庄商铺</a>
                <a href='http://shanghai.shangpusou.com/' title="上海商铺信息" target="_blank">上海商铺</a>          
            </p>
        </div>
        <div class="m_box footer_links_des">
            <span>友情链接：</span>
            <p>
                <a href="http://www.officese.com/rent/" target="_blank">上海写字楼出租</a>
                <a href="http://second.zb.fccs.com/" target="_blank">淄博二手房</a>
                <a href="http://shenzhen.365azw.com/" target="_blank">深圳装修网</a>
                <a href="http://bd.fang.com/" target="_blank">保定房产</a>
                <a href="http://jiangmen.focus.cn/" target="_blank">江门房产网</a>
                <a href="http://www.bjsqdb.cn/" target="_blank">房屋抵押贷款</a>
                <a href="http://www.jia.com/chaoyang/" target="_blank">朝阳装修</a>
                <a href="http://chengdu.edeng.cn" target="_blank">成都信息分类网</a>
                <a href="http://yigui.homekoo.com/" target="_blank">衣柜</a>
                <a href="http://bj.9ask.cn/" target="_blank">北京律师</a>
                <a href="http://www.shangpusou.com/friendlink.html">+我要申请</a>
            </p>
        </div>
    </div><div id="ad_footerbanner"></div>
    <div style="display: none" id="ad_none">
    </div>


    <div class="footer">
        <div class="footer_common">
            <div class="footer_common_link">
                <a href="http://www.shangpusou.com/aboutus.html" rel="nofollow" target="_blank">网站简介</a>
                <a href="http://www.shangpusou.com/aboutus-id-2.html" rel="nofollow" target="_blank">广告服务</a>
                <a href="http://www.shangpusou.com/aboutus-id-3.html" rel="nofollow" target="_blank">联系我们</a>
                <a href="http://www.shangpusou.com/faq.html" rel="nofollow" target="_blank">网站帮助</a>
                <a href="http://www.shangpusou.com/friendlink.html" rel="nofollow" target="_blank">友情链接</a>
                <a href="http://www.shangpusou.com/announce.html" rel="nofollow" target="_blank">网站公告</a>
                <a href="http://www.shangpusou.com/sitemap.html" rel="nofollow" target="_blank">网站地图</a>
            </div>
            <div class="footer_common_con">
                <p>
                    Copyright &copy; 商铺搜版权所有. 本站所有信息均归商铺搜网用户所发，严禁转载。 <a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow noopener">湘ICP备2021013894号</a>
                    <script>
                        var _hmt = _hmt || [];
                        (function () {
                            var hm = document.createElement("script");
                            hm.src = "https://hm.baidu.com/hm.js?27390b4003f337546042d1a4ea519aff";
                            var s = document.getElementsByTagName("script")[0];
                            s.parentNode.insertBefore(hm, s);
                        })();
                    </script> This page is cached at 2022-02-25 14:09:27
                </p>
            </div>
        </div>
    </div>


    <script type="text/javascript">loadDefault(["addiv", 'shangpusou', "mayilogin"]);</script>
</body>
</html>