@{ 
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>【北京门面出租|北京商铺出售|北京门面转让|北京商铺网】-北京商铺搜网</title>
    <meta name="keywords" content="北京门面出租,北京商铺,北京商铺出售,北京门面转让,北京商铺出租,北京商铺网" />
    <meta name="description" content="北京商铺搜网为您提供大量北京门面出租、北京商铺出售、北京门面转让、北京商铺出租信息，所有用户均可免费发布商铺、门面出租转让信息，同时对发布的北京商铺出租、出售、转让信息进行严格审核，历经10年成为最受北京人民欢迎的商铺门面网；寻找海量、真实的北京门面出租转让信息，请找北京商铺搜网。" />
    <link rel="shortcut icon" href="http://www.shangpusou.com/favicon.ico" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <script src="/js/global.js" type="text/javascript"></script>
    <script src="/js/jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <script type="text/javascript">var current_domain = "http://www.shangpusou.com"; var current_cityid = "1"; var current_logfile = "mplogin.php";</script>

    <div class="header_top">
        <div class="top_main w1200 clear">
            <div class="top_l fl">
                <div class="city fl">
                    <div class="city-curr">北京</div>
                    <dl>
                        <dt>[</dt>
                        <dd><a href='http://tianjin.shangpusou.com/'>天津</a></dd>
                        <dd><a href='http://shanghai.shangpusou.com/'>上海</a></dd>
                        <dd><a href='http://chongqing.shangpusou.com/'>重庆</a></dd>
                        <dd><a href="http://www.shangpusou.com/changecity.php">切换城市</a></dd>
                        <dt>]</dt>
                    </dl>
                </div>
            </div>
            <div class="top_r fr">
                <div class="icon_box fl">
                    <a href="javascript:;">公众号<em class="ico_down"></em></a>
                    <div class="icon_box_img">
                        <img src="picture/erweima.gif" alt="公众号" />
                        <p>重要提醒不错过<br />手机操作更简单</p>
                    </div>
                </div>
                <div class="icon_box fl">
                    <a href="javascript:;">小程序<em class="ico_down"></em></a>
                    <div class="icon_box_img">
                        <img src="picture/erweima_kf.gif" alt="小程序" />
                        <p>扫码即用，无需下载</p>
                    </div>
                </div>
                <div class="zs fl">
                    <a href="#" target="_blank">+ 分站加盟</a>
                </div>
                <div class="pon_center fl">
                <div class="flex_between pon_click">
                    <span>个人中心</span>
                    <em class="ico_down"></em>
                </div>
                <div class="list_box" style="display: none;">
                    <a href="#" target="_blank">我的发布</a>
                    <a href="#" target="_blank">我的浏览</a>
                </div>
            </div> 
                <div id="mayilogin" class="login fl"><img src="picture/loading.gif" border="0" align="absmiddle" /></div>
            </div>
        </div>
    </div>

    <div id="ad_topbanner" class="clear"></div>


    <div class="header_mind w1200 clear">
        <div class="logo clear fl">
            <a href="http://beijing.shangpusou.com/" title="北京商铺网" class="fl">
                <img src="picture/logo.png" alt="商铺搜" width="148" height="42" />
            </a>
        </div>
        <div class="main_r fr">
            <a href="http://www.shangpusou.com/shangpusou-post.php?catid=&cityid=1" class="fabu_btn" target="_blank">免费发布</a>
        </div>
        <div class="search fr">
            <form method="get" action="http://www.shangpusou.com/search.php?" id="searchForm" target="_blank">
                <input name="cityid" type="hidden" value="1" />
                <input type="hidden" id="searchtype" name="mod" value="information" />
                <div class="input_content clear">
                    <input type="text" class="fl" value="请输入关键词搜索" name="keywords" id="searchheader" onmouseover="if(this.value==='请输入关键词搜索'){this.value='';}" x-webkit-speech=x-webkit-speech lang="zh-CN" />
                    <input type="submit" value="搜 索" class="searchheader_submit fl" />
                </div>
                <div class="fl search_navurl">
                    <li><a href="#" style="color:" target="_blank" title="培训学校优转">培训学校优转<sup class=""></sup></a></li>
                    <li><a href="#" style="color:" target="_blank" title="商铺出租">商铺出租<sup class=""></sup></a></li>
                    <li><a href="#" style="color:" target="_blank" title="酒店转让">酒店转让<sup class=""></sup></a></li>
                </div>
            </form>
        </div>
    </div><div class="nav_bg">
        <div class="nav_main w1200 clear">
            <ul>
     
                @{
                    var navigationList = ViewBag.NavigationList as List<Entity.Models.Cf_Navigation>;
                    if (navigationList != null)
                    {
                        foreach (var m in navigationList)
                        {
                            if (m.LinkAddress.Contains(ViewBag.Path))
                            {

                                if (m.Title == "首页")
                                {
                                    <li><a href="@m.LinkAddress" class="li_on">@m.Title</a></li>
                                }
                                else
                                {
                                    <li><a target="_self" href="@m.LinkAddress" class="li_on">@m.Title</a></li>
                                }
                            }
                            else
                            {
                                if (m.Title == "首页")
                                {
                                    <li><a href="@m.LinkAddress" >@m.Title</a></li>
                                }
                                else
                                {
                                    <li><a target="_self" href="@m.LinkAddress" >@m.Title</a></li>
                                }
                            }
                        }
                    }
                }
            </ul>
        </div>
    </div>

    <div class="w1200 con_1 ">
        <div class="tab tab_l">
            <ul class="title" id="ul_typeregion">
                <li class="first on">厂房</li>
             
             
             
                <li class="">写字楼</li>
            </ul><div class="tab_con" id="div_tab_con">
                <div class="icontent active">
                    <ol>
                        <li class="ys1"><a href='shangpuzhuanrang/areaid-330/' title="海淀生意转让">海淀</a><a href='shangpuzhuanrang/areaid-11371/' title="密云生意转让">密云</a><a href='shangpuzhuanrang/areaid-346/' title="门头沟生意转让">门头沟</a><a href='shangpuzhuanrang/areaid-345/' title="平谷生意转让">平谷</a><a href='shangpuzhuanrang/areaid-343/' title="怀柔生意转让">怀柔</a><a href='shangpuzhuanrang/areaid-341/' title="昌平生意转让">昌平</a><a href='shangpuzhuanrang/areaid-340/' title="顺义生意转让">顺义</a><a href='shangpuzhuanrang/areaid-339/' title="通州生意转让">通州</a><a href='shangpuzhuanrang/areaid-338/' title="大兴生意转让">大兴</a><a href='shangpuzhuanrang/areaid-337/' title="房山生意转让">房山</a><a href='shangpuzhuanrang/areaid-336/' title="石景山生意转让">石景山</a><a href='shangpuzhuanrang/areaid-335/' title="丰台生意转让">丰台</a><a href='shangpuzhuanrang/areaid-333/' title="西城生意转让">西城</a><a href='shangpuzhuanrang/areaid-332/' title="东城生意转让">东城</a><a href='shangpuzhuanrang/areaid-331/' title="朝阳生意转让">朝阳</a><a href='shangpuzhuanrang/areaid-11372/' title="延庆生意转让">延庆</a><a href='shangpuzhuanrang/areaid-512/' title="北京周边生意转让">北京周边</a></li>
                        <li class="ys2">
                            <a href="jiulou/">餐饮美食</a>
                            <a href="baihuo/">百货超市</a>
                            <a href="shenghuo/">生活服务</a>
                            <a href="fushi/">服饰鞋包</a>
                            <a href="yiyao/">医药保健</a>
                            <a href="qixiu/">汽修美容</a>
                            <a href="xiuxian/">休闲娱乐</a>
                            <a href="lvguanbinguan/">酒店宾馆</a>
                            <a href="meirong/">美容美发</a>
                            <a href="jiaoyu/">教育培训</a>
                            <a href="jiaju/">家居建材</a>
                            <a href="dianzi/">电器通讯</a>
                            <a href="qita/">其他</a>

                        </li>
                    </ol>
                </div>                                               
                <div class="icontent ">
                    <ol>
                        <li class="ys1"><a href='xiezilou/areaid-330/' title="海淀写字楼">海淀</a><a href='xiezilou/areaid-11371/' title="密云写字楼">密云</a><a href='xiezilou/areaid-346/' title="门头沟写字楼">门头沟</a><a href='xiezilou/areaid-345/' title="平谷写字楼">平谷</a><a href='xiezilou/areaid-343/' title="怀柔写字楼">怀柔</a><a href='xiezilou/areaid-341/' title="昌平写字楼">昌平</a><a href='xiezilou/areaid-340/' title="顺义写字楼">顺义</a><a href='xiezilou/areaid-339/' title="通州写字楼">通州</a><a href='xiezilou/areaid-338/' title="大兴写字楼">大兴</a><a href='xiezilou/areaid-337/' title="房山写字楼">房山</a><a href='xiezilou/areaid-336/' title="石景山写字楼">石景山</a><a href='xiezilou/areaid-335/' title="丰台写字楼">丰台</a><a href='xiezilou/areaid-333/' title="西城写字楼">西城</a><a href='xiezilou/areaid-332/' title="东城写字楼">东城</a><a href='xiezilou/areaid-331/' title="朝阳写字楼">朝阳</a><a href='xiezilou/areaid-11372/' title="延庆写字楼">延庆</a><a href='xiezilou/areaid-512/' title="北京周边写字楼">北京周边</a></li>
                        <li class="ys2">
                            <a href="xiezilouchuzu/">写字楼出租</a>
                            <a href="xiezilouchushou/">写字楼出售</a>

                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="tab_r">
            <div id="tab1">
                <ul>
                    <li onmouseover="setTab(1,0)" class="now">热点资讯</li>
                    <li onmouseover="setTab(1,1)">网站公告</li>
                    <li onmouseover="setTab(1,2)">寻店找铺</li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div id="tablist1">
                <div class="tablist block corp">
                    <ul>
                        <li><span class="title"><a target="_blank" href="http://www.shangpusou.com/news/1.html" title="招商地产董事长" 被架空"=被架空" 贺建亚成第一责"=贺建亚成第一责">招商地产董事长&quot;被架空&quot; 贺建亚成第一责</a></span><span class="time">[11-19]</span></li>
                        <li><span class="title"><a target="_blank" href="http://www.shangpusou.com/news/2731.html" title="疫情对楼市影响几何？中指院：市场量价都存在下调压力">疫情对楼市影响几何？中指院：市场量价都存在下调</a></span><span class="time">[09-29]</span></li>
                        <li><span class="title"><a target="_blank" href="http://www.shangpusou.com/news/2730.html" title="置业指南：房屋买卖合同需要公证吗？">置业指南：房屋买卖合同需要公证吗？</a></span><span class="time">[09-29]</span></li>
                        <li><span class="title"><a target="_blank" href="http://www.shangpusou.com/news/2718.html" title="教你几个能快速除去新家装修味道的巧招">教你几个能快速除去新家装修味道的巧招</a></span><span class="time">[09-07]</span></li>
                        <li><span class="title"><a target="_blank" href="http://www.shangpusou.com/news/1086.html" title="开冷饮店流程是什么？开冷饮店设备清单,开冷饮店需要多少钱？">开冷饮店流程是什么？开冷饮店设备清单,开冷饮</a></span><span class="time">[09-06]</span></li>
                    </ul>
                </div>
                <div class="tablist none announce">
                    <ul>
                        <li><span class="title"><a style="color:" title="新版系统切换中，不影响信息发布与展示" href="http://www.shangpusou.com/announce.html#1" target="_blank">新版系统切换中，不影响信息发布与展示</a></span><span class="time">[09-09]</span></li>
                    </ul>
                </div>
                <div class="tablist none announce">
                    <ul>
                        <li><span class="title"><a style="color:" title="寻求接手幼儿园" href="http://beijing.shangpusou.com/qiuzuqiugou/f6701935.html" target="_blank">寻求接手幼儿园</a></span><span class="time">[09-16]</span></li>
                        <li><span class="title"><a style="color:" title="房山良乡百货超市急需" href="http://beijing.shangpusou.com/qiuzuqiugou/f6693673.html" target="_blank">房山良乡百货超市急需</a></span><span class="time">[08-20]</span></li>
                        <li><span class="title"><a style="color:" title="朝阳石佛营百货超市急需" href="http://beijing.shangpusou.com/qiuzuqiugou/f6693428.html" target="_blank">朝阳石佛营百货超市急需</a></span><span class="time">[08-04]</span></li>
                        <li><span class="title"><a style="color:" title="青岛塑料防渗排水板凸片排水板供应" href="http://beijing.shangpusou.com/qiuzuqiugou/f6692676.html" target="_blank">青岛塑料防渗排水板凸片排水板供应</a></span><span class="time">[07-10]</span></li>
                        <li><span class="title"><a style="color:" title="海淀瑜伽馆转让" href="http://beijing.shangpusou.com/qiuzuqiugou/f6690471.html" target="_blank">海淀瑜伽馆转让</a></span><span class="time">[06-01]</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>






    <div id="ad_header"></div>





    <div class="w1200 con con_4">
        <div class="min">
            <div class="con_bt"><h3>按结构找厂房</h3><a class="more" href="/shangpuzhuanrang/" title="更多北京商铺转让信息" target="_blank">更多北京商铺转让信息&gt;&gt;</a></div>
            <div class="tab">
                <ul class="title" id="ul_typeshopinfo">
                    @{

                        var dictionarysLeiBies = ViewBag.DictionarysLeiBies as List<Entity.Models.Cf_FactoryHouseDictionary>;

                        int i = 0;
                        foreach (var m in dictionarysLeiBies)
                        {
                            i++;
                            if (i == 0)
                            {
                                <li typeid="@i" class="first on">@m.Name</li>
                            }
                            else
                            {
                                <li typeid="@i" >@m.Name</li>
                            }
                        }
                   }        
                </ul>
                <div class="tab_con">


                    @{

                        var factoryHouseCategoryHouseList = ViewBag.FactoryHouseCategoryHouseList as List<Entity.ViewModels.GroupFactoryHouseDictionaryHouse>;

                        i = 0;
                        string style = "block";
                        foreach (var m in dictionarysLeiBies)
                        {

                            i++;
                            <div class="icontent div_typeshopinfo" typeid="@i" style="display:@style;">
                                <ul class="list">
                                    @{
                                        var factoryHouseDictionaryHouseLeiBies = factoryHouseCategoryHouseList.FirstOrDefault(w => w.FactoryHouseDictionaryId == m.Id);
                                        foreach (var h in factoryHouseDictionaryHouseLeiBies.FactoryHouseList) 
                                        { 
                                          <li><span class="areaname"><a href="/changfang/@(h.Id).html" target="_blank">@h.HousingName</a></span><a href="/changfang/@(h.Id).html" title="@h.HousingName" target="_blank" style=" ">@h.HousingName</a><span class="price">单价 <em>@(h.UnitPrice==null? "面议" : h.UnitPrice.ToString())</em></span></li>    
                                        }
                                    }                                                                        
                                </ul>
                                <h4 class="more"><a href="/jiulou/" title="更多北京餐饮美食转让信息">更多北京餐饮美食转让信息&gt;&gt;</a></h4>
                            </div>
                           style = "none";
                        }
                    }
                </div>
            </div>
        </div>
    </div>




    <div class="w1200 con con_5">
        <div class="con_bt"><h3>北京厂房出售</h3><a class="more" href="/shangpuchuzu/" title="更多北京厂房出售信息">更多&gt;&gt;</a></div>
        <ul class="pic_list_tel">
            @{ 
                var factoryHouseChuShouList =  ViewBag.FactoryHouseChuShouList as List<Entity.Models.Cf_FactoryHouse>;
                foreach (var m in factoryHouseChuShouList) {
                        <li>
                            <a href="/changfang/@(m.Id).html" title="@m.HousingName" target="_blank">
                                <img class="lazy" src="@m.CoverMap" alt="@m.HousingName" width="226" height="170" />
                            </a>
                            <div class="con_bt_p">
                                <h4><a href="/changfang/@(m.Id).html" target="_blank" style=" ">@m.HousingName</a></h4>
                                <div class="con_bt_p_mx">
                                    <div class="fl"> <span>@m.UnitPrice</span> 元/平 </div>
                                    <div class="fr">@m.HousingArea 平</div>
                                </div>
                                <div class="con_bt_p_mx">
                                    <div class="fl">@m.F_CreateDate.Value.ToString("yyyy-MM-dd")</div>
                                    <div class="fr">570人已浏览</div>
                                </div>
                            </div>
                        </li>
                }
            } 
        </ul>
    </div>





    <div class="w1200 con con_6">
        <div class="con_bt"><h3>北京商厂房出租</h3><a class="more" href="/shangpuchushou/" title="最新商厂房出租信息">更多&gt;&gt;</a></div>
        <ul class="pic_list_tel">     
            @*@{
                var factoryHouseChuZuList = ViewBag.FactoryHouseChuZuList as List<Entity.Models.Cf_FactoryHouse>;
                foreach (var m in factoryHouseChuZuList)
                {
                    <li>
                        <a href="/changfang/@(m.Id).html" title="@m.HousingName" target="_blank">
                            <img class="lazy" src="@m.CoverMap" alt="@m.HousingName" width="226" height="170" />
                        </a>
                        <div class="con_bt_p">
                            <h4><a href="/changfang/@(m.Id).html" target="_blank" style=" ">@m.HousingName</a></h4>
                            <div class="con_bt_p_mx">
                                <div class="fl"> <span>@m.HousingRent</span> 元/月 </div>
                                <div class="fr">@m.HousingArea 平</div>
                            </div>
                            <div class="con_bt_p_mx">
                                <div class="fl">@m.F_CreateDate.ToString("yyyy-MM-dd")</div>
                                <div class="fr">570人已浏览</div>
                            </div>
                        </div>
                    </li>
                }
            }*@
        </ul>
    </div>

    <div class="con_7 w1200 con">
        <div class="l">
            <div class="con_bt_2"><h3><a href="/cangku/" title="最新北京仓库租售信息">北京仓库信息</a></h3></div>
            <ul class="list">
                <li><span class="catname"><a href="cangkuchuzu/" target="_blank">仓库出租</a></span> <a href="http://beijing.shangpusou.com/cangkuchuzu/f6703945.html" target="_blank" style="" title="公司直租，大小都有，价格便宜">公司直租，大小都有，价格便宜</a><span><em>1</em> ㎡</span> </li>
                <li><span class="catname"><a href="cangkuchuzu/" target="_blank">仓库出租</a></span> <a href="http://beijing.shangpusou.com/cangkuchuzu/f6703938.html" target="_blank" style="" title="专业仓储  一立方自助仓  环境好 不潮湿">专业仓储  一立方自助仓  环境好 不潮湿</a><span><em>1</em> ㎡</span> </li>
                <li><span class="catname"><a href="cangkuchuzu/" target="_blank">仓库出租</a></span> <a href="http://beijing.shangpusou.com/cangkuchuzu/f6703925.html" target="_blank" style="" title="正规仓库出租24小时监控随时存取可开**">正规仓库出租24小时监控随时存取可开**</a><span><em>1</em> ㎡</span> </li>
                <li><span class="catname"><a href="cangkuchuzu/" target="_blank">仓库出租</a></span> <a href="http://beijing.shangpusou.com/cangkuchuzu/f6703807.html" target="_blank" style="" title="朝阳区金盏乡东窑村库房出租">朝阳区金盏乡东窑村库房出租</a><span><em>40000</em> ㎡</span> </li>
                <li><span class="catname"><a href="cangkuchuzu/" target="_blank">仓库出租</a></span> <a href="http://beijing.shangpusou.com/cangkuchuzu/f6703748.html" target="_blank" style="" title="图书托管第三方物流">图书托管第三方物流</a><span><em>15000</em> ㎡</span> </li>
                <li><span class="catname"><a href="cangkuchuzu/" target="_blank">仓库出租</a></span> <a href="http://beijing.shangpusou.com/cangkuchuzu/f6698463.html" target="_blank" style="" title="朝阳国贸仓库出租家具寄放_行李物品寄存迷你考拉仓">朝阳国贸仓库出租家具寄放_行李物品寄存</a><span><em>15000</em> ㎡</span> </li>
                <li><span class="catname"><a href="cangkuchuzu/" target="_blank">仓库出租</a></span> <a href="http://beijing.shangpusou.com/cangkuchuzu/f6698372.html" target="_blank" style="" title="仓库出租_附近库房出租_行李寄存_小面积仓库_迷你考拉仓">仓库出租_附近库房出租_行李寄存_小面积</a><span><em>15000</em> ㎡</span> </li>
                <li><span class="catname"><a href="cangkuchuzu/" target="_blank">仓库出租</a></span> <a href="http://beijing.shangpusou.com/cangkuchuzu/f6693019.html" target="_blank" style="" title="通州张家湾仓库出租">通州张家湾仓库出租</a><span><em>10000</em> ㎡</span> </li>
                <li><span class="catname"><a href="cangkuchuzu/" target="_blank">仓库出租</a></span> <a href="http://beijing.shangpusou.com/cangkuchuzu/f6690280.html" target="_blank" style="" title="房山琉璃河仓库出租">房山琉璃河仓库出租</a><span><em>460</em> ㎡</span> </li>
                <li><span class="catname"><a href="cangkuzhuanrang/" target="_blank">仓库转让</a></span> <a href="http://beijing.shangpusou.com/cangkuzhuanrang/f6682215.html" target="_blank" style="" title="个人房子，当仓库办公均可">个人房子，当仓库办公均可</a><span><em>1500</em> ㎡</span> </li>
            </ul>
        </div>
        <div class="m">
            <div class="con_bt_2"><h3><a href="/changfang/" title="最新北京厂房租售信息">北京厂房信息</a></h3></div>
            <ul class="list">
                <li><span class="catname"><a href="changfangchuzu/" target="_blank">厂房出租</a></span> <a href="http://beijing.shangpusou.com/changfangchuzu/f6703808.html" target="_blank" style="" title="酒店楼层出租">酒店楼层出租</a><span><em>4000</em> ㎡</span> </li>
                <li><span class="catname"><a href="changfangchuzu/" target="_blank">厂房出租</a></span> <a href="http://beijing.shangpusou.com/changfangchuzu/f6697046.html" target="_blank" style="" title="通州永乐店厂房出租 联东U谷产业园">通州永乐店厂房出租 联东U谷产业园</a><span><em>1200</em> ㎡</span> </li>
                <li><span class="catname"><a href="changfangchuzu/" target="_blank">厂房出租</a></span> <a href="http://beijing.shangpusou.com/changfangchuzu/f6695307.html" target="_blank" style="" title="朝阳区体育文化园2200平场地出租">朝阳区体育文化园2200平场地出租</a><span><em>2200</em> ㎡</span> </li>
                <li><span class="catname"><a href="changfangchuzu/" target="_blank">厂房出租</a></span> <a href="http://beijing.shangpusou.com/changfangchuzu/f6689674.html" target="_blank" style="" title="北京有环评排污燃气的食品厂房出租面积可分">北京有环评排污燃气的食品厂房出租面积可</a><span><em>3600</em> ㎡</span> </li>
                <li><span class="catname"><a href="changfangzhuanrang/" target="_blank">厂房转让</a></span> <a href="http://beijing.shangpusou.com/changfangzhuanrang/f6689673.html" target="_blank" style="" title="北京食品厂房出租有燃气环评排污">北京食品厂房出租有燃气环评排污</a><span><em>7000</em> ㎡</span> </li>
                <li><span class="catname"><a href="changfangchuzu/" target="_blank">厂房出租</a></span> <a href="http://beijing.shangpusou.com/changfangchuzu/f6689672.html" target="_blank" style="" title="北京周边食品厂房出租有环评燃气排污">北京周边食品厂房出租有环评燃气排污</a><span><em>4000</em> ㎡</span> </li>
                <li><span class="catname"><a href="changfangchuzu/" target="_blank">厂房出租</a></span> <a href="http://beijing.shangpusou.com/changfangchuzu/f6688416.html" target="_blank" style="" title="通州永乐店食品园厂房出租可分割环评排污">通州永乐店食品园厂房出租可分割环评排污</a><span><em>2700</em> ㎡</span> </li>
                <li><span class="catname"><a href="changfangchuzu/" target="_blank">厂房出租</a></span> <a href="http://beijing.shangpusou.com/changfangchuzu/f6688415.html" target="_blank" style="" title="北京周边廊坊食品园厂房出租可环评排污生产注册">北京周边廊坊食品园厂房出租可环评排污生</a><span><em>6600</em> ㎡</span> </li>
                <li><span class="catname"><a href="changfangchuzu/" target="_blank">厂房出租</a></span> <a href="http://beijing.shangpusou.com/changfangchuzu/f6688414.html" target="_blank" style="" title="大兴亦庄西区食品厂房出租可环评排污办照">大兴亦庄西区食品厂房出租可环评排污办照</a><span><em>3000</em> ㎡</span> </li>
                <li><span class="catname"><a href="changfangchuzu/" target="_blank">厂房出租</a></span> <a href="http://beijing.shangpusou.com/changfangchuzu/f6688022.html" target="_blank" style="" title="北京周边食品厂房出租能环评排污以及SC认证">北京周边食品厂房出租能环评排污以及SC认</a><span><em>1900</em> ㎡</span> </li>
            </ul>
        </div>
        <div class="r">
            <div class="con_bt_2"><h3><a href="/xiezilou/" title="最新北京写字楼信息">北京写字楼信息</a></h3></div>
            <ul class="list">
                <li><span class="catname"><a href="xiezilouchushou/" target="_blank">写字楼出售</a></span> <a href="http://beijing.shangpusou.com/xiezilouchushou/f6704092.html" target="_blank" style="" title="三面采光，中间楼层。户型方正。">三面采光，中间楼层。户型方正。</a><span><em>550</em> ㎡</span> </li>
                <li><span class="catname"><a href="xiezilouchushou/" target="_blank">写字楼出售</a></span> <a href="http://beijing.shangpusou.com/xiezilouchushou/f6704070.html" target="_blank" style="" title="主语国际中心整层写字楼出售，地铁6号、9号线白石桥站上盖">主语国际中心整层写字楼出售，地铁6号、9号</a><span><em>1300</em> ㎡</span> </li>
                <li><span class="catname"><a href="xiezilouchuzu/" target="_blank">写字楼出租</a></span> <a href="http://beijing.shangpusou.com/xiezilouchuzu/f6703916.html" target="_blank" style="" title="国企自持房源出租新街口积水潭附近750平可分租">国企自持房源出租新街口积水潭附近750平</a><span><em>251</em> ㎡</span> </li>
                <li><span class="catname"><a href="xiezilouchushou/" target="_blank">写字楼出售</a></span> <a href="http://beijing.shangpusou.com/xiezilouchushou/f6703473.html" target="_blank" style="" title="世茂工三，自持办公室出售。">世茂工三，自持办公室出售。</a><span><em>550</em> ㎡</span> </li>
                <li><span class="catname"><a href="xiezilouchuzu/" target="_blank">写字楼出租</a></span> <a href="http://beijing.shangpusou.com/xiezilouchuzu/f6703341.html" target="_blank" style="" title="北京长远天地办公楼出租">北京长远天地办公楼出租</a><span><em>272</em> ㎡</span> </li>
                <li><span class="catname"><a href="xiezilouchushou/" target="_blank">写字楼出售</a></span> <a href="http://beijing.shangpusou.com/xiezilouchushou/f6700441.html" target="_blank" style="" title="北京周边燕郊写字楼出售">北京周边燕郊写字楼出售</a><span><em>272</em> ㎡</span> </li>
                <li><span class="catname"><a href="xiezilouchushou/" target="_blank">写字楼出售</a></span> <a href="http://beijing.shangpusou.com/xiezilouchushou/f6701958.html" target="_blank" style="" title="朝阳望京写字楼出售">朝阳望京写字楼出售</a><span><em>272</em> ㎡</span> </li>
                <li><span class="catname"><a href="xiezilouchushou/" target="_blank">写字楼出售</a></span> <a href="http://beijing.shangpusou.com/xiezilouchushou/f6697293.html" target="_blank" style="" title="建外SOHO写字楼出售">建外SOHO写字楼出售</a><span><em>135</em> ㎡</span> </li>
                <li><span class="catname"><a href="xiezilouchuzu/" target="_blank">写字楼出租</a></span> <a href="http://beijing.shangpusou.com/xiezilouchuzu/f6696576.html" target="_blank" style="" title="北四环非中介特价办公室出租 可注册大小面积均有 预订可享受折">北四环非中介特价办公室出租 可注册大小</a><span><em>12</em> ㎡</span> </li>
                <li><span class="catname"><a href="xiezilouchuzu/" target="_blank">写字楼出租</a></span> <a href="http://beijing.shangpusou.com/xiezilouchuzu/f6696081.html" target="_blank" style="" title="朝阳大望路写字楼出租一对一注册 可核查落税控">朝阳大望路写字楼出租一对一注册 可核查</a><span><em>20</em> ㎡</span> </li>
            </ul>
        </div>
    </div>



    <div class="footer_links w1200">
        <div class="m_box footer_links_des">
            <span>周边城市：</span>
            <p>
                <a href='http://tianjin.shangpusou.com/' title="天津商铺">天津商铺</a>
                <a href='http://shanghai.shangpusou.com/' title="上海商铺">上海商铺</a>
                <a href='http://chongqing.shangpusou.com/' title="重庆商铺">重庆商铺</a>
            </p>
        </div>
        <div class="m_box footer_links_des">
            <span>热门城市：</span>
            <p>
                <a href='http://beijing.shangpusou.com/' title="北京商铺信息" target="_blank">北京商铺</a>
                <a href='http://tianjin.shangpusou.com/' title="天津商铺信息" target="_blank">天津商铺</a>
                <a href='http://shijiazhuang.shangpusou.com/' title="石家庄商铺信息" target="_blank">石家庄商铺</a>
                <a href='http://shanghai.shangpusou.com/' title="上海商铺信息" target="_blank">上海商铺</a>
                <a href='http://nanjing.shangpusou.com/' title="南京商铺信息" target="_blank">南京商铺</a>
                <a href='http://hangzhou.shangpusou.com/' title="杭州商铺信息" target="_blank">杭州商铺</a>
                <a href='http://fuzhou.shangpusou.com/' title="福州商铺信息" target="_blank">福州商铺</a>
                <a href='http://xiamen.shangpusou.com/' title="厦门商铺信息" target="_blank">厦门商铺</a>
                <a href='http://nanchang.shangpusou.com/' title="南昌商铺信息" target="_blank">南昌商铺</a>
                <a href='http://zhengzhou.shangpusou.com/' title="郑州商铺信息" target="_blank">郑州商铺</a>
                <a href='http://wuhan.shangpusou.com/' title="武汉商铺信息" target="_blank">武汉商铺</a>
                <a href='http://changsha.shangpusou.com/' title="长沙商铺信息" target="_blank">长沙商铺</a>
                <a href='http://guangzhou.shangpusou.com/' title="广州商铺信息" target="_blank">广州商铺</a>
                <a href='http://shenzhen.shangpusou.com/' title="深圳商铺信息" target="_blank">深圳商铺</a>
                <a href='http://chongqing.shangpusou.com/' title="重庆商铺信息" target="_blank">重庆商铺</a>
                <a href='http://chengdu.shangpusou.com/' title="成都商铺信息" target="_blank">成都商铺</a>
                <a href='http://xian.shangpusou.com/' title="西安商铺信息" target="_blank">西安商铺</a>
            </p>
        </div>
        <div class="m_box footer_links_des">
            <span>友情链接：</span>
            <p>
                <a href="http://www.officese.com/rent/" target="_blank">上海写字楼出租</a>
                <a href="http://second.zb.fccs.com/" target="_blank">淄博二手房</a>
                <a href="http://shenzhen.365azw.com/" target="_blank">深圳装修网</a>
                <a href="http://bd.fang.com/" target="_blank">保定房产</a>
                <a href="http://jiangmen.focus.cn/" target="_blank">江门房产网</a>
                <a href="http://www.bjsqdb.cn/" target="_blank">房屋抵押贷款</a>
                <a href="http://www.jia.com/chaoyang/" target="_blank">朝阳装修</a>
                <a href="http://chengdu.edeng.cn" target="_blank">成都信息分类网</a>
                <a href="http://yigui.homekoo.com/" target="_blank">衣柜</a>
                <a href="http://bj.9ask.cn/" target="_blank">北京律师</a>
                <a href="http://www.shangpusou.com/friendlink.html">+我要申请</a>
            </p>
        </div>
    </div><div id="ad_footerbanner"></div>
    <div style="display: none" id="ad_none">
    </div>


    <div class="footer">
        <div class="footer_common">
            <div class="footer_common_link">
                <a href="http://www.shangpusou.com/aboutus.html" rel="nofollow" target="_blank">网站简介</a>
                <a href="http://www.shangpusou.com/aboutus-id-2.html" rel="nofollow" target="_blank">广告服务</a>
                <a href="http://www.shangpusou.com/aboutus-id-3.html" rel="nofollow" target="_blank">联系我们</a>
                <a href="http://www.shangpusou.com/faq.html" rel="nofollow" target="_blank">网站帮助</a>
                <a href="http://www.shangpusou.com/friendlink.html" rel="nofollow" target="_blank">友情链接</a>
                <a href="http://www.shangpusou.com/announce.html" rel="nofollow" target="_blank">网站公告</a>
                <a href="http://www.shangpusou.com/sitemap.html" rel="nofollow" target="_blank">网站地图</a>
            </div>
            <div class="footer_common_con">
                <p>
                    Copyright &copy; 商铺搜版权所有. 本站所有信息均归商铺搜网用户所发，严禁转载。 <a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow noopener">湘ICP备2021013894号</a>
                    <script>
                        var _hmt = _hmt || [];
                        (function () {
                            var hm = document.createElement("script");
                            hm.src = "https://hm.baidu.com/hm.js?27390b4003f337546042d1a4ea519aff";
                            var s = document.getElementsByTagName("script")[0];
                            s.parentNode.insertBefore(hm, s);
                        })();
                    </script> This page is cached at 2022-02-25 14:09:27
                </p>
            </div>
        </div>
    </div>


    <script type="text/javascript">loadDefault(["addiv", 'shangpusou', "mayilogin"]);</script>
</body>
</html>