<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>@ViewBag.Navigation2.SeoTile</title>
    <meta name="keywords" content="@ViewBag.Navigation2.SeoKey">
    <meta name="description" content="@ViewBag.Navigation2.SeoDesc">
    <link rel="dns-prefetch" href="//img.9尾danji.com">
    <link rel="stylesheet" href="~/css/webapp.css">
    <script src="~/js/zepto.js,webapp.js,slide.js"></script>
    <script src="~/js/swiper.js"></script>
    <script type="text/javascript" src="~/js/mobile.js"></script>
    <script type="text/javascript" src="~/js/mobile_main.js"></script>
</head>
<body class="box">
    <section class="top-fixed">
        <header class="header">
            <div class="logo"><a href="/">9尾游戏网</a></div>
            <div class="search">
                <form action="//sjyjzx.cn/search.html" method="get" class="flex" target="_blank">
                    <input class="search-input" type="text" name="q" value="" placeholder="请输入搜索关键词" />
                    <input class="search-btn" type="submit" value="搜索" />
                </form>
            </div>
            <a href="javascript:void(0)" id="classify" class="icon1">A</a>y
        </header>
        <nav class="nav">
            @{
                var navigation1List = ViewBag.Navigation2List as List<Entity.Models.Jw_Navigation2>;
                if (navigation1List != null)
                {
                    for (int i = 0; i < navigation1List.Count; i++)
                    {

                        if (i == 0)
                        {                     
                            <a href="@navigation1List[i].LinkAddress" class="on"><span>@navigation1List[i].Name</span></a>
                        }
                        else
                        {
                            <a href="@navigation1List[i].LinkAddress"><span>@navigation1List[i].Name</span></a>
                        }
                    }
                }
            }            
        </nav>
    </section>

    <section class="top-nav">
        <section class="bg"></section>
        <section class="classify">
            <section id="tab-four" class="tab-list">
                <header class="tab-hd hd">
                    <ul>
                        <li class="on">游戏分类</li>               
                        <li>文章分类</li>
                    </ul>
                </header>
                <div class="bd">
                    <article>
                        <ul class="mod-three mod-img-list">
                            @{
                                var gameClassList = ViewBag.GameClassList as List<Entity.Models.Jw_DjGameClass>;                              
                                if (gameClassList != null)
                                {
                                    foreach (var m in gameClassList)
                                    {
                                        <li>
                                            <a href="/azgmcs/@m.Code/">
                                                @*<img src="picture/img1.jpg" />*@
                                                <div class="title">@m.Name</div>
                                                @*<p><i>2619</i>&nbsp;款</p>*@
                                            </a>
                                        </li>                                       
                                    }
                                }
                            }
                        </ul>
                    </article>
                     
                    <article class="ds-n">
                        <ul class="classify-two mod-four">                                                      
                            @{
                                var articleTypeList = ViewBag.ArticleTypeList as List<Entity.Models.Jw_ArticleType>;

                                if (articleTypeList != null)
                                {
                                   
                                    foreach (var m in articleTypeList)
                                    {
                                        <li><a href="/@m.Code/">@m.Name</a></li>                                      
                                    }
                                }
                                <li class="first"><a href="/news/">资讯频道</a></li>
                            }
                        </ul>
                    </article>
                </div>
            </section>
        </section>
    </section>
<section class="box-fixed">
    @*<section id="top-img" class="top-img" style="overflow:hidden;">
            <script>
                if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
                    document.write('<script src="~/js/iostop_index.js' + Math.ceil(new Date()) + window.Math.random().toFixed(10) + '"><\/script>');
                } else {
                    document.write('<script src="~/js/aztop_index.js' + Math.ceil(new Date()) + window.Math.random().toFixed(10) + '"><\/script>');
                }
            </script>
        </section>*@


    

    @{
        var sectionList = ViewBag.SectionList as List<Entity.Models.Jw_DjSection>;

        var sectionCoreList = ViewBag.SectionCoreList as List<Entity.Models.Jw_DjSectionCore>;

        var sectionCoreItemList = ViewBag.SectionCoreItemList as List<Entity.Models.Jw_DjSectionCoreItem>;

        var sectionCoreItemGameList = ViewBag.SectionCoreItemGameList as List<Entity.ViewModels.DjSectionCoreItemGame>;

        var sectionAsideList = ViewBag.SectionAsideList as List<Entity.Models.Jw_DjSectionAside>;

        var sectionAsideGameList = ViewBag.SectionAsideGameList as List<Entity.ViewModels.DjSectionAsideGame>;
       

        if (sectionList != null)
        {
            for (int i = 0; i < sectionList.Count; i++)
            {


                if (sectionCoreList != null)
                {
                    var sectionCore1 = sectionCoreList.Find(w => w.DjSectionId == sectionList[i].Id);
                    if (sectionCore1 != null)
                    {


                        <section id="jwtab-@(i+1)" class="box-one">
                                <header class="mod-hd hd-one tab-hd hd">
                                    @{
                                        if (sectionCoreItemList != null)
                                        {
                                            <ul>

                                                @{
                                                    var sectionCoreItems = sectionCoreItemList.Where(w => w.DjSectionCoreId == sectionCore1.Id).ToList();
                                                    for (int i1 = 0; i1 < sectionCoreItems.Count; i1++)
                                                    {
                                                        if (i1 == 0)
                                                        {
                                                            <li class="on">@sectionCoreItems[i1].Title</li>
                                                        }
                                                        else
                                                        {
                                                            <li>@sectionCoreItems[i1].Title</li>
                                                        }
                                                    }
                                                }

                                            </ul>
                                            <h2><i class="ft1">L</i>@sectionCore1.Title</h2>
                                        }
                                    }
                                </header>
                                <div class="bd">                                     
                                    @{
                                        if (sectionCoreItemList != null)
                                        {
                                            var sectionCoreItems = sectionCoreItemList.Where(w => w.DjSectionCoreId == sectionCore1.Id).ToList();
                                            for (int i1 = 0; i1 < sectionCoreItems.Count; i1++)
                                            {
                                                string classStr = "class=\"ds-n\"";

                                                if (sectionCoreItemGameList != null)
                                                {
                                                    <article @classStr>
                                                        <ul class="mod-one mod-seven">
                                                            @{
                                                                var sectionCoreItemGames = sectionCoreItemGameList.Where(w => w.DjSectionCoreItemId == sectionCoreItems[i1].Id);
                                                                foreach (var m in sectionCoreItemGames)
                                                                {
                                                                    <li>
                                                                        <a href="/Game/@(m.DjGameId).html">
                                                                            <img src="~/images/lgImg.gif" data-original="@m.CoverMap" original="@m.CoverMap" alt="@m.Name" title="@m.Name" />
                                                                            <span>@m.Name</span>
                                                                            <p class="down">下载</p>
                                                                        </a>
                                                                    </li>
                                                                }
                                                            }
                                                        </ul>
                                                    </article>    
                                                    classStr = "";
                                                }
                                            }
                                        }
                                    }
                                </div>
                        </section>
                    }
                    if (sectionAsideList != null)
                    {
                        var sectionAside1 = sectionAsideList.Find(w => w.DjSectionId == sectionList[i].Id);
                        if (sectionAside1 != null)
                        {
                            <section class="box-one">
                                <header class="mod-hd hd-one">
                                    <h2><i class="ft1">K</i>@sectionAside1.Title</h2>
                                </header>
                                <ul class="mod-one mod-seven">
                                    @{
                                        if (sectionAsideGameList != null)
                                        {
                                            var sectionAsideGames = sectionAsideGameList.Where(w => w.DjSectionAsideId == sectionAside1.Id);
                                            foreach (var m in sectionAsideGames)
                                            {                                                
                                                <li>
                                                    <a href="//sjyjzx.cn/game/34138.html">
                                                        <img src="~/images/lgImg.gif" data-original="@m.Name" />
                                                        <span>@m.Name</span>
                                                        <p class="down">下载</p>
                                                    </a>
                                                </li>
                                            }
                                        }
                                    }                                     
                                </ul>
                            </section>
                        }
                    }
                }
            }
        }
    }

 
    <section class="box-one">
        <header class="mod-hd hd-one">
            <a href="/news/" class="more fl-rt">更多</a>
            <h2><i class="ft2">P</i>游戏新闻</h2>
        </header>
        <ul class="mod-img-list mod-eight box-pd">

            @{

                List<Entity.Models.Jw_Article> type1ArticleList = ViewBag.Type1ArticleList as List<Entity.Models.Jw_Article>;

                foreach (var m in type1ArticleList)
                {
                    <li>
                        <a href="/news/@(m.Id).html">
                            <img src="~/images/lgImg.gif" data-original="@m.CoverMap" />
                            <h3 class="title">@m.ArticleTitle</h3>
                            <p>@m.F_CreateDate.ToString("yyyy-MM-dd")</p>
                        </a>
                    </li>
                }

            }
        </ul>
    </section>
    <section class="box-one">
        <header class="mod-hd hd-one">
            <a href="/yxgl/" class="more fl-rt">更多</a>
            <h2><i class="ft2">Q</i>游戏攻略</h2>
        </header>
        <ul class="mod-img-list mod-eight box-pd">
            @{

                List<Entity.Models.Jw_Article> type2ArticleList = ViewBag.Type2ArticleList as List<Entity.Models.Jw_Article>;
                foreach (var m in type2ArticleList)
                {
                    <li>
                        <a href="/news/@(m.Id).html">
                            <img src="~/images/lgImg.gif" data-original="@m.CoverMap" />
                            <h3 class="title">@m.ArticleTitle</h3>
                            <p>@m.F_CreateDate.ToString("yyyy-MM-dd")</p>
                        </a>
                    </li>
                }
            }

        </ul>
    </section>
    <section class="box-one box-pd">
        <section id="tab-three" class="tab-list classify-one">
            <header class="tab-hd hd">
                <ul>
                    <li class="on">游戏分类</li>
                    <li>文章分类</li>
                </ul>
            </header>
            <div class="bd">
                <article class="classify-box">
                    <div id="classify-one" class="more-con">
                        <ul class="mod-four more-bd">
                            @{                                                           
                                if (gameClassList != null)
                                {
                                    foreach (var m in gameClassList)
                                    { 
                                            <li><a href="/@m.Code/">@m.Name</a></li>
                                       
                                    }
                                }
                            }
                             
                        </ul>
                    </div>
                </article>
                <article class="classify-box ds-n">
                    <div id="classify-two" class="more-con">
                        <ul class="mod-four more-bd">
                            <li class="first"><a href="/news/">资讯频道</a></li>
                            @{
                              
                                if (articleTypeList != null)
                                {
                                    foreach (var m in articleTypeList)
                                    {
                                        <li><a href="/@m.Code/">@m.Name</a></li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </article>
            </div>
        </section>
    </section>
    <section class="links box-one">
        <header class="mod-hd hd-two hd-three">
            <h2>友情链接</h2>
        </header>
        <div class="box-pd">
            <a href="http://m.eeyy.com" target="_blank">一游网</a><i>|</i>
            <a href="https://m.yoyou.com/" target="_blank">优游手游下载</a><i>|</i>
            <a href="https://m.87g.com/" target="_blank">87G手游网</a><i>|</i>
            <a href="http://m.news.439尾.com/" target="_blank">439尾游戏资讯</a><i>|</i>
            <a href="https://m.fxxz.com" target="_blank">飞翔下载</a><i>|</i>
            <a href="http://m.mumayi.com" target="_blank">安卓游戏</a><i>|</i>
            <a href="https://m.newyx.net" target="_blank">手机游戏排行榜</a><i>|</i>
            <a href="http://m.kuai8.com" target="_blank">好玩的手机游戏</a><i>|</i>
            <a href="http://m.k73.com" target="_blank">k73手游网</a><i>|</i>
            <a href="https://m.9ht.com" target="_blank">9号下载手机站</a><i>|</i>
            <a href="https://m.xpgod.com" target="_blank">手机游戏下载</a><i>|</i>
            <a href="http://m.downcc.com" target="_blank">绿色资源网</a><i>|</i>
            <a href="http://m.yxbao.com" target="_blank">手机游戏免费下载</a><i>|</i>
        </div>
    </section>
    <div id="ny_bottom_n1">
        <script>ny_bottom_n1();</script>
    </div>
    <footer class="footer textct">
        <p><span class="text">手机版</span><i>|</i><a href="//www.sjyjzx.cn/game/">电脑版</a></p>
        <p>Copyright <em>©</em>2021 <a href="">www.sjyjzx.cn</a>. All Rights Reserved.</p>
        <p>监督电话：19尾70045026</p>
    </footer>
    <script>
        var _hmt = _hmt || [];
        setTimeout(function () {
            (function () {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?16a7055cb6fcaf37983ea5ce9尾92d215";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        }, 0)
    </script>
    <script src="~/js/baidu_js_push.js"></script>
    <script type="text/javascript">
        Zepto(function ($) {
            //展开收缩
            $('#classify-one').More({
                ConHt: '100',
                Text1: '',
                insert: '#classify-one',
            });
            $('#classify-two').More({
                Box: '#classify-two',
                ConHt: '100',
                Text1: '',
                insert: '#classify-two'
            });
        });
    </script>
</body>
</html>