@{
    ViewBag.SeoTile = ViewBag.Article.SeoTile;
    ViewBag.SeoKey = ViewBag.Article.SeoKey;
    ViewBag.SeoDesc = ViewBag.Article.SeoDesc;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
 
    <script src="~/js/c.js"></script> 
    <section class="top-nav">
        <section class="bg"></section>
        <section class="classify">
            <section id="tab-four" class="tab-list">
                <header class="tab-hd hd">
                    <ul>
                        <li class="on">游戏分类</li>
                        <li>文章分类</li>
                    </ul>
                </header>
                <div class="bd">
                    <article>
                        <ul class="mod-three mod-img-list">
                            @{
                                var gameClassList = ViewBag.GameClassList as List<Entity.Models.Jw_AzGameClass>;
                                if (gameClassList != null)
                                {
                                    foreach (var m in gameClassList)
                                    {
                                        <li>
                                            <a href="/azgmcs/@m.Code/">
                                                @*<img src="picture/img1.jpg" />*@
                                                <div class="title">@m.Name</div>
                                                @*<p><i>2619</i>&nbsp;款</p>*@
                                            </a>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </article>
                    <article class="ds-n">
                        <ul class="classify-two mod-four">
                            @{
                                var articleTypeList = ViewBag.ArticleTypeList as List<Entity.Models.Jw_ArticleType>;

                                if (articleTypeList != null)
                                {
                                    foreach (var m in articleTypeList)
                                    {
                                        <li><a href="/newsclass/@m.Code/">@m.Name</a></li>
                                    }
                                }                                
                            }
                        </ul>
                    </article>
                </div>
            </section>
        </section>
    </section>
    <section class="box-fixed">
        <section class="box-one">
            <header class="crumb">
                <a href="/">首页</a><i>&gt;</i><a href="/news/">游戏资讯</a><i>&gt;</i><a href="/newsclass/@ViewBag.ArticleType.Code/">@ViewBag.ArticleType.Name</a>
            </header>
            <section class="box-pd">
                <section class="zm">
                    <header class="textct">
                        <h1 class="details-title">@ViewBag.Article.ArticleTitle</h1>
                        <p class="details-titbar">@ViewBag.Article.CreateDate.ToString("yyyy-MM-dd")<span>发布:@ViewBag.Article.CompileDisplay</span></p>
                    </header>

                    <div class="details-bd">
                        <div id="details-tjyy">
                            @Html.Raw(ViewBag.ArtileDetails.ArticleContent)
                            <p>@ViewBag.ArtileDetails.TailContent</p>
                        </div>
                        @{
                            if (ViewBag.AzGame != null)
                            {
                                <div class="details-one">
                                    <ul class="mod-five mod-img-list">
                                        <li>
                                            <a href="/azgame/@(ViewBag.AzGame.Id).html">
                                                <img src="~/images/lgImg.gif" data-original="@ViewBag.AzGame.CoverMap" />
                                                <h3 class="title">@ViewBag.AzGame.Name</h3>
                                                <p>类型：@ViewBag.AzGame.AzGameClassName</p>
                                                <p style="margin-top:0;">大小：@ViewBag.AzGame.GameSize</p>
                                                <span class="down">下载</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            }
                        }
                    </div>
                </section>
            </section>
        </section>
        <section class="box-one">
            <header class="mod-hd hd-two hd-three">
                <h2>热门手游推荐</h2>
            </header>
            <div class="box-pd">
                <ul class="mod-ten">
                    @{
                        var azGameMainPushList = ViewBag.AzGameMainPushList as List<Entity.ViewModels.AzGameMainPush>;
                        if (azGameMainPushList != null)
                        {
                            foreach (var m in azGameMainPushList)
                            {
                                <li>
                                    <a href="/azgame/@(m.AzGameId).html">
                                        <img src="~/images/lgImg.gif" data-original="@m.CoverMap" />
                                        <span>@m.AzGameName</span>
                                    </a>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        </section>

        @{
            var azGroupArticleTypeArticleList = ViewBag.AzGroupArticleTypeArticleList as List<Entity.ViewModels.AzGroupArticleTypeArticle>;
            foreach (var azGroupArticleTypeArticle in azGroupArticleTypeArticleList)
            {
                if (azGroupArticleTypeArticle.ArticleCode != null && azGroupArticleTypeArticle.ArticleList.Count() > 0)
                {
                    if (azGroupArticleTypeArticle.ArticleTypeId == ViewBag.Article.ArticleTypeId && azGroupArticleTypeArticle.ArticleList.Count() <= 1)
                    {
                        continue;
                    }

                    <section class="box-one">
                        <header class="mod-hd hd-two hd-three">
                           <h2>@azGroupArticleTypeArticle.ArticleTypeName</h2>
                        </header>
                        <ul class="mod-list box-pd">
                            @{
                               
                                    foreach (var m in azGroupArticleTypeArticle.ArticleList)
                                    {
                                        if (ViewBag.Article.Id != m.ArticleId)
                                        {
                                            <li><span>@m.CreateDate.ToString("yyyy-MM-dd")</span><a href="/news/@(m.ArticleId).html">@m.ArticleTitle</a></li>
                                        }
                                    }
                               
                            }
                        </ul>
                    </section>                     
                }
            }
        }

        <section class="box-one">
            <header class="mod-hd hd-two hd-three">
                <h2>热点图文</h2>
            </header>
            <ul class="mod-ten">
                @{
                    var hotGraphicsList = ViewBag.HotGraphicsList as List<Entity.ViewModels.HotGraphics>;
                    if (hotGraphicsList != null)
                    {
                        foreach (var m in hotGraphicsList)
                        {
                            <li>
                                <a href="/news/@(m.ArticleId).html">
                                    <img src="~/images/lgImg.gif" data-original="@m.CoverMap" />
                                    <span>@m.ArticleTitle</span>
                                </a>
                            </li>
                        }
                    }
                }
            </ul>
        </section>
    </section>
     
 
 
 
 